@{
    ViewBag.Title = "Yhteystiedot";
}

<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <h3>@ViewBag.Message</h3>

    <address>
        Toimipisteemme sijaitsevat Helsingissä, Keravalla, Vantaalla, Askolassa, Loviisassa ja Porvoossa, missä sijaitsee myös Careerian hallinto.<br />
        <b>Päätoimipiste</b><br />
        Hevosenkengänkatu 2<br />
        06100 Porvoo<br />
        <abbr title="Puhelin">Puhelin:</abbr>
        020 51 311 (ma–pe klo 8–16)<br />
        <a href="https://careeria.fi/yhteystiedot/" target="_blank">Yhteystiedot Careerian sivuilla</a>
    </address>

    <address>
        <strong>Sähköposti:</strong>   <a href="mailto:hkk.infopiste@careeria.fi">hkk.infopiste@careeria.fi</a><br />
    </address>
</div>


<h4>Kartta</h4>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3943.006924350755!2d25.653579!3d60.387361999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4691f5d5182ac701%3A0x4d708dd7d7d60249!2sHevosenkeng%C3%A4nkatu%202%2C%2006100%20Porvoo!5e0!3m2!1sfi!2sfi!4v1623275116499!5m2!1sfi!2sfi" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>