@using System.Globalization
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lainausjärjestelmä</h1>
    <p class="lead">Careerian tavaroiden lainausjärjestelmä.</p>
    <p><a href="https://careeria.fi" target="_blank" class="btn btn-primary btn-lg">Careeria &raquo;</a></p>
</div>

<div>
    <p>Päiväys ja aika: @DateTime.Now.ToString(new CultureInfo("fi-FI"))</p>
</div>

